<% provide(:title, 'Home')  %>
<div class="center hero-unit">
	<h1>Freelance Status</h1>
	<h2>Inform your customers, when you are ready for work!</h2>
	<br>
	<div class="row-fluid">
		<div class="span6">
			<h3>You are a Freelancer</h3>
			<p>If you are a Freelancer, you please should sign up here</p>
			<br>
			<%= link_to "Sign up here!", 'signup_freelancer', class: "btn btn-large btn-primary" %>
		</div>
		<div class="span6">
			<h3>You employ Freelancer</h3>
			<p>If you are a customer and employ freelancer, please sign up here</p>
			<br>
			<%= link_to "Sign up here!", 'signup_customer', class: "btn btn-large btn-success" %>
		</div>
	</div>
</div>
