<% provide(:title, 'Home')  %>
<div class="center hero-unit">
	<h1>Freelance Status</h1>
	<h2>Inform your customers, when you are ready for work!.</h2>
	<%= link_to "Sign up now!", 'signup', class: "btn btm-large btn-primary" %>
</div>
