<% provide(:title, 'Home')  %>
<div class="center hero-unit">
	<h1>Freelance Status</h1>
	<h2>Inform your customers, when you are ready for work!.</h2>
	<%= link_to "Sign up now!", 'signup_freelancer', class: "btn btm-large btn-primary" %>
	<p style="margin-top: 20px">If you employ Freelancers, please click <%= link_to "here", 'signup_customer' %>.</p>
</div>
