<% provide(:title, 'How it Works')  %>
<h1>How it Works</h1>
<div class="center">
	Are you working for different customers as a freelancer? Then you should use Freelance Status. Find out why!
</div>
<div class="row">
	<div class="center span4">
		<h3>1. Sign up</h3>
			<p>
				Simply sign up at our website and enter your current working status (available/ non-available). If you want you can also enter your current daily rate.
			</p>

	</div>
	<div class="center span4">
		<h3>2. Get in touch</h3>
			<p>
				After you have signed up you can send the link to your profile to your customers. By clicking on the link, they will connect with you.
			</p>
	</div>
	<div class="center span4">
		<h3>3. Keep them on track</h3>
			<p>
				Each time you change your working status, your customers will be informed automatically. So you pop up in their mind, when you have time available for new projects.
			</p>
	</div>
</div>