<% provide(:title, @freelancer.name) %>
<div class="row">	
	<aside class="span4">
		<section>
			<h1>
				<%= gravatar_for @freelancer %>
				<%= @freelancer.name %>
			</h1>
		</section>
	</aside>
</div>