<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "Freelance-Status",'#', id:"logo" %>
			<nav>
				<ul class="nav pull-right">
					<li><%= link_to "Home", root_path %></li>
					<li><%= link_to "How it works", howitworks_path %></li>
					<li><%= link_to "Log in", login_path %></li>
				</ul>
			</nav>
		</div>
	</div>
</header>